body { 
    font-family: 'Calibri', 'Arial', sans-serif; 
    background-color: #348079; 
    padding: 40px 20px; 
    color: #2c2621; 
}

.container { 
    max-width: 700px; 
    margin: auto; 
    background: #fffefb; 
    padding: 40px; 
    border-radius: 8px; 
    border: 1px solid #dcdcdc;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); 
}

h1 { text-align: center; font-family: 'Calibri', sans-serif; border-bottom: 2px solid #bb0808; padding-bottom: 10px; }

#controles { display: flex; gap: 10px; }
select { flex-grow: 1; padding: 10px; font-size: 1em; border: 1px solid #ccc; border-radius: 4px; }
button { padding: 10px; cursor: pointer; background: #347e61; color: white; border: none; border-radius: 4px; }
button:hover { background: #34495e; }

#titulo { font-size: 2.2em; margin-bottom: 5px; color: #0c0c0c; }
.artista { font-size: 1.1em; margin-bottom: 20px; border-bottom: 1px solid #eee; padding-bottom: 10px; font-weight: bold; }

pre { 
    font-family: 'Consolas', 'Courier New', monospace; 
    background: transparent; 
    line-height: 1.8; 
    font-size: 1.1em;
    color: #333;
    white-space: pre-wrap;
}

.acorde { 
    color: #fc2424; 
    font-weight: bold; 
}

/* Estilo de impresión */
@media print {
    body { background: white; }
    .container { box-shadow: none; border: none; }
    #controles, #controles-tono, #titulo-pagina, hr { display: none; }
}